<% parent ||= nil %>
<table class="table table-bordered table-striped table-hover">
  <tr>
    <td class="text-center">名称</td>
    <td class="text-center">参数键</td>
    <td class="text-center w-25">示例值</td>
    <td class="text-center w-25">说明</td>
    <td class="text-center" style='width: 10%;'>默认值</td>
    <td class="text-center">参数类型</td>
    <td class="text-center">是否必填</td>
  </tr>
  <% attributes.each do |param|%>
    <tr>
      <td><%= param[:name] %></td>
      <td><%= param[:key] %></td>
      <td>
        <input class='form-control' name='<%= parent %><%= param[:key] %>' value="<%= param[:example]%>"/>
      </td>
      <td class='tl'><%= param[:explain] %></td>
      <td class="<%= param[:default].nil? ? 'text-center' : nil %>"><%= param[:default]%></td>
      <td class="text-center"><%= param[:value_type] %></td>
      <td class="text-center"><%= param[:necessary] ? '是' : '否' %></td>
    </tr>
  <% end %>

  <% unless attributes.present? %>
    <tr>
      <td class="text-center" colspan="7">暂无参数</td>
    </tr>
  <% end %>

</table>