<table class="table table-bordered table-striped table-hover">
  <tr>
    <td class="text-center">是否启用</td>
    <td class="text-center">part_code</td>
    <td class="text-center">名称</td>
    <td class="text-center w-50">说明</td>
  </tr>

  <% parts.each do |key, part|%>
    <tr>
      <td>
        <div class="checkbox-inline text-center">
          <label class="checkbox-inline">
            <input type="checkbox" value="<%= key %>" name="part_codes[]" onclick="change_part(this, '<%= key %>')" checked>
          </label>
        </div>
      </td>
      <td><%= key %></td>
      <td><%= part[:method_name] %></td>
      <td><%= part[:explain] %></td>
    </tr>
  <% end %>

  <% unless parts.present? %>
    <tr>
      <td class="text-center" colspan="7">暂无组成部分</td>
    </tr>
  <% end %>

</table>

<script type="text/javascript">
  function change_part(obj, key) {
    target = $("#space_part_"+key);
    if (obj.checked){
      target.removeClass("hide");
    }else{
      target.addClass("hide");
    }
  }
</script>
