<div id="space_part_<%= key%>">

  <h3 class="mt-5 mb-3">
    <em class="float-left"><%= part[:method_name] %></em>&nbsp;部分
  </h3>

  <div class="mt-3 mb-3">
    <%= part[:explain] %>
  </div>

  <%= render 'attributes', attributes: part[:attributes]%>

  <em>*: 部分所属参数只作用于该部分,没有参数即为无需通用参数外其他参数(通用参数并非部分必须参数)</em>
</div>
