<div class='api_params_div hide' id="<%= @api_code %>_api_params">

  <div>
    <form accept-charset="UTF-8" id="<%= @api_code %>_api_params_form">
      <h3 class="mt-5 mb-3">通用参数</h3>
      <%= render 'attributes', attributes: @current_api[:attributes]%>

      <h3 class="mt-5 mb-3">组成部分说明</h3>
      <%= render 'part_switch', parts: @current_api[:parts]%>

      <% @current_api[:parts].each do |key, part| %>
        <%= render 'part', part: part, key: key %>
      <% end %>
      
    </form>
  </div>

</div>