<%
  args = {
    table_datas: {"累计盈利":{"长信医疗保健行业":27.81,"汇添富医药保健股票":46.01,"易方达医疗保健行业":50.7,"华宝兴业医药生物":86.8,"中海医疗保健主题":118.53,"融通医疗保健行业":36.32,"博时医疗保健行业":49.99,"富国医疗保健":81.5},"同期中证医药":{"长信医疗保健行业":56.64,"汇添富医药保健股票":37.1,"易方达医疗保健行业":41.9,"华宝兴业医药生物":79.68,"中海医疗保健主题":84.57,"融通医疗保健行业":69.09,"博时医疗保健行业":70.59,"富国医疗保健":34.44},"同期中证医疗":{"长信医疗保健行业":78.84,"汇添富医药保健股票":65.55,"易方达医疗保健行业":64.55,"华宝兴业医药生物":108.84,"中海医疗保健主题":105.73,"融通医疗保健行业":112.33,"博时医疗保健行业":108.62,"富国医疗保健":53.91}},
    title: "中证医药和中证医疗指数与主动型医药基金对比",
    subtitle:"节选自《投资滚雪球系列:基金长赢》",
    y_unit_name: "百分比(%)",
    rely_assets: ["highcharts"]
  }

  res = Dashboard::Print::Public::output(api_code: 'list_horizontal_column_parsed', **args)
%>

<%= res[1].html_safe %>