<%
  title = '关于基金发生较大跌幅时加仓可行性分析'
  content = '本次分析从该基金近100天的历史表现中,在相同的初始持仓数量(1000)的条件下,选取了跌幅最大的五次,模拟在完全预知最大跌幅的条件下,在当前持仓数量按在不同的比例进行加仓,到最终截止时间时各情况之间的收益率.<br>在模拟过程,五次的加仓时间,单位净值完全相同,唯一变量为加仓比例的不同.'
%>
<%= word_process(type: 'base_words', method_name: 'jumbotron', params: {title: title, content: content}, div:{})[1] %>

<% 
  foreword = '数字含义解释'

  content ='下面表格中的1/5,2/5等数字含义为: 在5次加仓中,每次的加仓数量为当前持仓数量的1/5,2/5,同理5/5即,每次加仓数量与当前持仓数量相同.'
%>

<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>

<%= generate_list(params: {table_datas: @final_incomes})[1] %>

<% 
  foreword = '表格说明了什么'

  content ='从上面表格中可以看出,第五项,即每次发生较大跌幅时,购入与当前持仓数量相同的份额的预演结果最为理想.当然这种预演情况完全没有考虑资金来源,持仓数量也是原始数量的32倍.'
%>
<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>

<% 
  foreword = '从可行性角度出发'

  content ='综合考虑成本,收益率等情况不难看出,预演1更符合现实情况操作.<br>下面将以预演1为例,进行详细分析.'
%>
<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>

<%= generate_chart(type: :line, method_name: :broken_line, params: @params)[1] %>

<% 
  foreword = '持仓成本及持仓数量'
  content = '很直观的感受就是,持仓成本及持仓数量呈阶梯状上升,变化节点则为买入时间点.'
%>
TODO: 列表展示成本及数量变化节点
<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>


<% 
  foreword = '持有收益'
  content = '持有收益在 2020-03-12到2020-04-14的一个月时间内,为负收益,而在2020-05-08,达到本次预演时间段内的最高值.<br>其中2020-04-29到2020-04-30, 短短的一天,持有收益呈直线上升.<br>主要收益也是在最后20天内实现的快速上升,表明该基金的短期波动比较大. 补充该时间段内的利好因素.'
%>
TODO: 统计收益为正及为负天数
<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>


<% 
  foreword = '日收益曲线'
  content = '从日收益曲线来看,大部分时间收益不太理想,甚至很长时间段内为负收益,大部分收益都是有关键的几个时间节点构成的.'
%>
TODO: 图表对比沪深300以及同行业其他基金走势
<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>

<% 
  foreword = '收益率曲线'
  content = '而收益率曲线的表现却和其他几条完全相反,简单分析为持仓数量及成本的增加,造成后期收益率较低.'
%>

<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>


<% 
  foreword = '本次预演使用的基础数据'
  content = '下面表格中针对基础数据,在每日的涨跌的基础上进行了颜色区分.'
%>

<%= word_process(type: 'base_words', method_name: 'paragraph', params: {foreword: foreword, content: content}, div:{})[1] %>


<%= generate_list(method_name: 'color_distinguish', params: @fund_datas_params)[1] %>