table {
  border-collapse: collapse;
  width: auto;
}

table, th, td {
  border: 1px solid #246929; /* 表格边框颜色为白色 */
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #222222; /* 表头背景颜色为更深的灰色 */
  color: #0ce3ac; /* 表头文本颜色为白色 */
}

tr:nth-child(even) {
  background-color: #333333; /* 偶数行背景颜色为深灰色 */
}

tr:hover {
  background-color: #555555; /* 鼠标悬停时行背景颜色为稍浅的灰色 */
}