@import url('table.css');

/* 设置整个页面的背景颜色为黑色 */
body {
  background-color: #000000;
  color: #0ce3ac; /* 文本颜色为白色 */
}

/* 设置链接的颜色 */
a {
  color: #0ce3ac; /* 链接颜色为白色 */
  text-decoration: none; /* 移除下划线 */
}

a:hover {
  color: #78f906; /* 鼠标悬停时链接颜色为浅灰色 */
  text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

/* 设置表单元素的颜色 */
input, textarea, select, button {
  background-color: #333333; /* 输入框背景颜色为深灰色 */
  color: #FFFFFF; /* 输入框文本颜色为白色 */
  border: ⅛em solid #FFFFFF; /* 边框颜色为白色 */
}

/* 设置按钮的颜色 */
button {
  background-color: #333333; /* 按钮背景颜色为深灰色 */
  color: #FFFFFF; /* 按钮文本颜色为白色 */
  border: ⅛em solid #FFFFFF; /* 边框颜色为白色 */
}

button:hover {
  background-color: #555555; /* 鼠标悬停时按钮背景颜色为稍浅的灰色 */
}

/* 设置标题的颜色 */
h1, h2, h3, h4, h5, h6 {
  color: #0ce3ac; /* 标题颜色为白色 */
}

/* 设置段落的颜色 */
p {
  color: #0ce3ac; /* 段落颜色为白色 */
}

/* 其他元素的样式可以根据需要继续添加 */