.jumbotron{
  background-color: rgba(251, 252, 254, 0.33);
}
body {
  /* background-image: url('https://images.unsplash.com/photo-1579794532419-ee6e23731720?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
  background-image: url('/photo-1579794532419-ee6e23731720.jpeg');
  background-size: 100% 100%;
  /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px); */
}
.main_title {
  max-width: 1500px;
  background-color: rgb(245 244 244 / 75.8%);
  height: 100vh;
  -webkit-backdrop-filter: blur(20px);	
  backdrop-filter: blur(20px);
  overflow: auto;
}