$grey: rgb(245,244,244);
$visibilityA: .758;
$visibilityB: .33;

body {
  background-image: asset-data-url('photo-1579794532419-ee6e23731720.jpeg');
  background-size: 100% 100%;
}
.main_title {
  max-width: 1500px;
  background-color: rgba($grey, $visibilityA);
  height: 100vh;
  -webkit-backdrop-filter: blur(20px)	;
  backdrop-filter: blur(20px);
  overflow: auto;
  .jumbotron {
    background-color: rgba($grey, $visibilityB);
  }
}
