<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# 对图表的展示会产生影响 %>
    <%# <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover"> %>
  </head>
  <body>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
