<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<% 
  un_present_message ||= '暂无记录'
  split_size ||= 2 
  lable_style ||= "width: #{((100 / split_size)*(3/10.to_f)).to_i}%;"
  content_style ||= "width: #{((100 / split_size)*(7/10.to_f)).to_i}%;"
  blank_content ||= '暂无'
%>

<div class="table-responsive">
  <table class="table <%= (table_class || []).join(' ')%>">
    <tbody>
      <% base_params && base_params.to_a.in_groups_of(split_size, 'none').each do |array| %>
        <tr>
          <% array.each do |item| %>
            <% if item == 'none' %>
              <td style="<%= lable_style %>"></td>
              <td style="<%= content_style %>"></td> 
              <% next %>
            <% end %>
            
            <td style="<%= lable_style %>" class="text-right"><%= item[0] %></td>
            <td style="<%= content_style %>"><%= item[1] %></td>
          <% end %>
        </tr>
      <% end %>

      <% if !base_params.present? %>
        <tr>
          <td colspan= '<%= split_size %>' style="text-align: center;">
            <%= un_present_message %>
          </td>
        <tr>
      <% end %>
    </tbody>
  </table>
</div>