<% datas&.each do |data|%>
  <%# TODO: 样式有些问题 把下面的div去掉可见%>
  <div>&emsp;</div>
  <div>
    <%= word_process(type: 'base_words', method_name: 'jumbotron', params: {title: data[:title], content: data[:content]}, div:{})[1] %>

    <div>
      <% data[:displays].each do |attributes|%>
        <%= base_request_dashboard(classify: attributes[:classify], type: attributes[:type], method_name: attributes[:method_name], params: attributes[:params], div: attributes[:div])[1] %>
      <% end %>
    </div>
  </div>
<% end %>
