<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    Heatmap with over 8,500 points, visualizing hourly temperature in 2017. The
    blue colors indicate colder days, and the red colors indicate warmer
    days. Notice how we are able to find patterns in a large dataset using a
    compact heatmap. This chart uses the Highcharts Boost module for
    enhanced performance.
  </p>
</figure>

<!-- Source: http://vikjavev.no/ver/highcharts-demos/heatmap.csv.php?year=2013 -->
<pre id="csv" style="display: none">
<%common_datas.each do |array|%>
  <%= array.join(',')%>
<% end %>
</pre>

<script>
Highcharts.chart('container', {

data: {
  csv: document.getElementById('csv').innerHTML
},

chart: {
  type: 'heatmap'
},

boost: {
  useGPUTranslations: true
},

title: {
  text: 'Highcharts heat map',
  align: 'left',
  x: 40
},

subtitle: {
  text: 'Temperature variation by day and hour through 2017',
  align: 'left',
  x: 40
},

xAxis: {
  type: 'datetime',
  min: Date.UTC(2017, 0, 1),
  max: Date.UTC(2017, 11, 31, 23, 59, 59),
  labels: {
    align: 'left',
    x: 5,
    y: 14,
    format: '{value:%B}' // long month
  },
  showLastLabel: false,
  tickLength: 16
},

yAxis: {
  title: {
    text: null
  },
  labels: {
    format: '{value}:00'
  },
  minPadding: 0,
  maxPadding: 0,
  startOnTick: false,
  endOnTick: false,
  tickPositions: [0, 6, 12, 18, 24],
  tickWidth: 1,
  min: 0,
  max: 23,
  reversed: true
},

colorAxis: {
  stops: [
    [0, '#3060cf'],
    [0.5, '#fffbbc'],
    [0.9, '#c4463a'],
    [1, '#c4463a']
  ],
  min: -15,
  max: 25,
  startOnTick: false,
  endOnTick: false,
  labels: {
    format: '{value}℃'
  }
},

series: [{
  boostThreshold: 100,
  borderWidth: 0,
  nullColor: '#EFEFEF',
  colsize: 24 * 36e5, // one day
  tooltip: {
    headerFormat: 'Temperature<br/>',
    pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value} ℃</b>'
  },
  turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
}]

});

</script>

<style>
.highcharts-figure, .highcharts-data-table table {
  min-width: 360px; 
  max-width: 1000px;
  margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
</style>