<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv_pyramid", am4charts.SlicedChart);
chart.paddingBottom = 30;
chart.data = <%= base_datas.to_json.html_safe %>;

var series = chart.series.push(new am4charts.PyramidSeries());
series.dataFields.value = "value";
series.dataFields.category = "name";
series.alignLabels = true;
series.valueIs = "height";

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv_pyramid"></div>

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv_pyramid {
  width: 100%;
  height: 350px;
}

</style>