<!DOCTYPE html>
<html>
<head>
  <title>Black box</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "black_box/application", media: "all" %>
  <%= javascript_include_tag "black_box/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
