<%= load_rely_assets(assets: Dashboard::Other::RelyAsset::exposed_asset.keys, method: 'link_label') %>

<%
  tag_datas = {}
  Dashboard::Print::Public::exposed_api.each do |key,api|
    num = rand(10..20)
    num_ = rand(1...10)
    tag_datas.merge!({api[:method_name] => {"key_word": key, "weight": num}})
    tag_datas.merge!({key => {"key_word": key, "weight": num_}})
  end

  args = {
    tag_datas: tag_datas,
    tag_url: "javascript:change_api('{key_word}');",
    url_target:"_self",
    chart_style: "width: 100%; height: 35%;"
  }

  res = Dashboard::Print::Public::output(api_code: 'chart_other_tag_cloud', **args)
%>

<div class="container" style="max-width: 1500px;">
  <div><%= res[1].html_safe %></div>
  <div class="jumbotron">
    <h1>接口文档</h1>
    <p>下列展示接口为全部提供接口,接口参数以及返回结果和实际调用情况完全一致.</p>
    <% bg_colors = ['btn-primary','btn-success','btn-info','btn-warning','btn-danger','btn-secondary','btn-dark','btn-light'] %>
    <% @exposed_api.each do |key, api| %>
      <button type="button" class="btn mb-2 <%= bg_colors.sample %>" onclick="change_api('<%=key%>');">
        <%= api[:method_name] %>
      </button>
    <% end %>
  </div>

  <div class="input-group mb-3" id='api_select'>
    <select id="change_api" onchange="change_api();" class="form-control">
      <option value=''>请选择查询接口</option>
      <% @exposed_api.each do |key, api| %>
        <option value="<%= key %>"><%= api[:method_name] %>--<%= api[:explain]%></option>
      <% end %>
    </select>
    <div class="input-group-append">
      <button class="btn btn-danger" type="button" onclick="for(i=0; i < $('.api_params_div').length; i++){$('.api_params_div')[i].reset();}" id='reload_page'>重置</button>
      <button class="btn btn-primary" type="button" onclick="request_api();" id='submit_button' disabled=true>提交</button>
    </div>
  </div>

  <div id="api_params"></div>

  <div id="api_result" class='hide'>
    <hr>
    <table class="table table-bordered table-striped table-hover hide" id='api_result_table'>
      <tr>
        <td class="text-center" style='width: 15%;'>参数</td>
        <td class="text-center">返回值</td>
      </tr>
    </table>

    <div class='hide' id='api_result_div'>
    
    </div>
  </div>
</div>

<script type="text/javascript">
  function change_api(option_value) {
    if(option_value){
      $("#change_api").val(option_value);
    }
    select = $("#change_api option:selected");
    
    $('.api_params_div').addClass('hide');
    $("#submit_button").attr("disabled","true");
    
    if (select.val().length > 0){
      $('#reload_page').attr("disabled","true");
      $("#submit_button").removeAttr("disabled");
      
      if($('#'+select.val()+'_api_params')[0]){
        $('#'+select.val()+'_api_params').removeClass("hide");
        return;
      }
      $.ajax({
        type: "Get",
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        url: '/dashboard/restful/request_api_params?api_code='+select.val(),
        success: function(data, textStatus) {
          $("#api_params").append(data);
          $('#'+select.val()+'_api_params').removeClass("hide");
        },
        error: function() {
          
        }
      });
    }else{
      $('#reload_page').removeAttr("disabled");
    }
    result_area_hide();
  }

  function request_api() {
    result_area_hide();
    select = $("#change_api option:selected");
    $.ajax({
      type: "post",
      contentType: "application/x-www-form-urlencoded; charset=UTF-8",
      url: '/dashboard/restful/request_api',
      data: $('#'+select.val()+'_api_params').closest('form').serialize(),
      success: function(data, textStatus) {
        $(".auto_create").remove();
        $("#api_result").removeClass("hide");

        if ($.isPlainObject(data)){
          for(var key in data){
            $("#api_result_table").append("<tr class='auto_create'><td class='text-right'>"+key+"</td><td class='text-left'>"+JSON.stringify(data[key])+"</td></tr>");
            // $("#api_result_table").append("<tr class='auto_create'><td class='text-right'>"+key+"</td><td class='text-left'><pre><code>"+JSON.stringify(data[key], undefined, 2)+"</code></pre></td></tr>");
          }
          $("#api_result_table").removeClass("hide");
        }else{
          $("#api_result_div").append("<div class='auto_create'>"+data+"</div>");
          $("#api_result_div").removeClass("hide");
        }

      },
      error: function() {
        
      }
    });
  }

  function result_area_hide (){
    $("#api_result").addClass("hide");
    $("#api_result_table").addClass("hide");
    $("#api_result_div").addClass("hide");
  }
</script>

<style>
  #change_api {
    width: 75%;
  }
  #api_result{
    margin-top: 80px;
  }
  .hide {
    display: none;
  }
</style>