<%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> %>

<%= load_rely_on(rely_on: :bootstrap_4) %>

<div class="jumbotron mb-3 mt-3">
  <h1>这里以后要做一个词云</h1>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        导航
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <% @routes.map(&:keys).flatten.each_with_index do |name, index| %>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapse-<%= index%>"><%= name %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <% @routes.each_with_index do |hash, index|%>
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapse-<%= index%>">
          <%= hash.keys.first %>
        </a>
      </div>
      <div id="collapse-<%= index%>" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <% hash.values[0].each do |hash| %>
            <a class="btn btn-primary" href="<%= send(hash['path']) rescue nil %>"><%= hash['action_name'] %></a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
