body {
  /* background-image: url('https://images.unsplash.com/photo-1530519860668-b6ac27936be5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1355&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1582288058112-f422db315279?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
  background-size: 100% 100%;
}

:not(:root):fullscreen::backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(245, 244, 244, .558);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.graphic {
  /* max-width: 1500px !important; */
  max-width: 2300px !important;
  background-color: rgba(245, 244, 244, .558);
  height: 100vh;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  overflow: auto;
}

.graphic .jumbotron {
  background-color: rgba(245, 244, 244, .33);
}

.table-fix-head {
  overflow: auto;
  height: 80vh;
}

.table-fix-head thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(245, 244, 244, .33);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
}

.table-fix-head tbody th {
  position: sticky;
  left: 0;
  background: rgba(245, 244, 244, .33);
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
}