<%
  columns_info ||= (@unites[0].zh_cn.keys rescue nil) || Radar::BusinessLogic::Unite::columns_info(klass: @klass).each_pair.to_a.map(&:last).map(&:locale_key)
%>

<div id="<%= @klass_name %>DataList" class='dataList'>
  <table class="table table-bordered table-striped table-hover" id="<%= @klass_name %>DataListTable">
    <thead>
      <tr>
        <td colspan="<%= columns_info.size+2 %>" class='text-center'>
          <button type="button" class="btn btn-primary disabled">
            总条数
            <span class="badge badge-light"><%= @result_size %></span>
          </button>
        </td>
      </tr>
      <tr>
        <th class="text-center" width='10%'>序号</th>
          <% columns_info.each do |column_name|%>
            <th class="text-center"><%= column_name %></th>
          <% end %>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'shared/radar/load_item' if @unites.present?%>
      <% unless @unites.present? %>
        <tr>
          <td colspan="<%= columns_info.size+2 %>" class='text-center'>
            无符合条件记录
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= auto_load(table_id: "#{@klass_name}DataListTable") %>