
<% bg_colors = ['btn-primary','btn-success','btn-info','btn-warning','btn-danger','btn-secondary','btn-dark','btn-light'] %>

<style>
 label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="checkbox"]:checked + *::before {
    content: "✓ ";
    color: white;
    text-align: center;
    /* background: white;
    border-color: white; */
  }
  label > input[type="checkbox"]:checked + * {
    color: white;
  }
</style>

<div class="jumbotron">
  <h1>数据列表</h1>
  <p>根据选择的对象,查询对象现有具体数据信息.</p>
  <div id="klass">
    <div id="klass_buttons">
      <% @klasses.each do |show_name, klass_name| %>
        <button type="button" class="btn mb-2 <%= bg_colors.sample %>" onclick="manage.changeKlass('<%= klass_name %>')"><%= show_name %></button>
      <% end %>
    </div>
    <div id="klass_options">
      <div class="input-group mb-3">
        <select id="klassSelect" onchange="manage.changeKlass()" class="form-control">
          <option value=''>请选择查询对象</option>
          <% @klasses.each do |show_name, klass_name| %>
            <option value="<%= klass_name %>"><%= show_name %>--<%= klass_name%></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="search">
  <div id="searchForms"></div>
</div>
<div id="data">
  <div id="dataLists"></div>
</div>

<script type="text/javascript">
  manage = new Object()
  manage.search = Object.create(manage)
  manage.datas = Object.create(manage)
  manage.data = Object.create(manage.datas)
  manage.info = Object.create(manage.data)
  
  // 获取当前查询的class
  manage.klass = function (){
    value = $("#klassSelect option:selected").val()
    return value
  }

  // 判断当前class是否为空
  manage.isKlassNull = function (){
    flag = (this.klass().length == 0)
    return flag
  }

  // 切换当前class
  manage.changeKlass = function (newKlass) {
    if(newKlass) $('#klassSelect').val(newKlass)

    if (this.isKlassNull()){
      $("div[class*='searchForm']").each(function(){
        $(this).addClass('d-none')
      })
      $("div[class*='dataList']").each(function(){
        $(this).addClass('d-none')
      })
      return
    }

    this.search.load()
    this.data.load()
  }


  // ============================ 搜索相关 ============================

  // 当前class对应的查询表单所属div
  manage.search.searchDiv = function () {
    return $('#'+this.klass()+'Search')
  }

  // 当前class对应的查询表单
  manage.search.searchForm = function () {
    return $('#'+this.klass()+'SearchForm')
  }

  // 加载当前class对应的查询表单
  manage.search.load = function (params) {
    params ||= {}
    if (this.isKlassNull()) return
    $("div[class='searchForm']").each(function(){ $(this).addClass('d-none')})
    
    if (this.searchDiv()[0]){
      this.searchDiv().removeClass('d-none')
      return
    }

    url = "<%= search_form_manages_path() %>"
    params = {klass: this.klass(), table_condition_id: params['tableConditionId']}
    space.network.ajax({"url": url, "params" : params}, function (result) {
      if (result[0]) $('#searchForms').append(result[1])
    })
  }

  // 重新当前clas的加载查询表单
  manage.search.reload = function (params) {
    params ||= {}
    this.searchDiv().remove()
    this.load(params)
  }

  // 根据所选条件名称加载
  manage.search.loadCondition = function (tableConditionId) {
    if (!tableConditionId) return
    this.searchDiv().remove()
    params = {"tableConditionId" : tableConditionId}
    this.load(params)
    this.datas.reload()
  }

  // 将当前搜索内容进行保存
  manage.search.saveCondition = function () {
    conditionName = prompt("输入条件名称", '')
    if (conditionName == null || conditionName == "") return space.page.alert('条件名称不能为空.')
    url = "<%= save_condition_manages_path() %>"+'?klass='+this.klass()+'&condition_name='+conditionName
    params = this.searchForm().serialize()
    space.network.ajax({type: 'Post', "url": url, "params" : params}, function (result) {
      if (!result[0]) return
      if (!result[1].success) return
      manage.search.reload({"tableConditionId" : result[1].condition_id})
    })
  }

  // 重置搜索内容
  manage.search.reset = function () {
    searchForm = $('#'+this.klass()+'SearchForm')
    searchForm[0].reset()
  }

  // ============================ 数据集合相关 ============================

  // 加载当前查询表单对应数据清单
  manage.datas.load = async function () {
    if (this.isKlassNull()) return
    $("div[class*='dataList']").each(function(){
      $(this).addClass('d-none')
    })
    
    dataList = $('#'+this.klass()+'DataList')
    if (dataList[0]){
      dataList.removeClass('d-none')
      return
    }

    if (!$('.searchForm')[0]) {
      for (let i = 0; i < 100; i++) {
        await sleep(1)
        if ($('.searchForm')[0]) i=100;
      }
    }

    form_data = $('#'+this.klass()+'SearchForm').serialize()
    url = "<%= data_list_manages_path() %>?klass="+this.klass()
    space.network.ajax({"url": url, "params" : form_data}, function (result) {
      if (result[0]) $('#dataLists').append(result[1])
    })
  }

  // 根据当前查询表单重新加载数据清单
  manage.datas.reload = function () {
    dataList = $('#'+this.klass()+'DataList')
    dataList.remove()
    this.data.load()
  }

  // 下载当前查询结果
  manage.datas.download = function () {
    if (this.isKlassNull()) return
    form_data = $('#'+this.klass()+'SearchForm').serialize()
    url = "<%= download_manages_path() %>?klass="+this.klass()
    space.network.ajax({"url": url, "params" : form_data}, function (result) {
      if (!result[0]) return space.page.alert(result[1].message || '接口调用失败')
      if (!result[1].success) return space.page.alert(result[1].message || '接口调用失败')
      res = space.data.downloadFile({fileName: '查询数据导出.xls', base64: result[1].download.data, mimetype: result[1].download.mimetype})
      if (!res[0]) return space.page.alert(res[1]);
    })
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms))
  }

</script>