<% 
  base_params = []
  split_size ||= 2 
  lable_style ||= "width: #{((100 / split_size)*(3/10.to_f)).to_i}%;"
  content_style ||= "width: #{((100 / split_size)*(7/10.to_f)).to_i}%;"
  columns = @unite.klass_columns.each_pair.to_a
%>

<div class="pb-3">
  <button class='btn btn-primary' type='button' onclick="object.edit.submit()">提交</button>
  <input class='btn btn-primary' type='submit' form="_attributesForm" formaction="" value="强制提交" onclick="space.page.alert('TODO: 尚未实现');">
</div>

<form method='post' id="editForm">
  <%= tag(:input, :type => "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
  <input type="hidden" name="klass" value="<%= @klass_name %>">
  <input type="hidden" name="object_id" value="<%= @unite.id %>">

  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <% columns.to_a.in_groups_of(split_size, 'none').each do |array| %>
        <tr>
          <% array.each do |column, info| %>
            <% if column == 'none' %>
              <td style="<%= lable_style %>"></td>
              <td style="<%= content_style %>"></td> 
              <% next %>
            <% end %>
            
            <td style="<%= lable_style %>" class="text-right"><%= info.locale_key %></td>
            <td style="<%= content_style %>">
              <input class='w-100' name="<%= @klass_name %>[<%= column %>]" value="<%= @unite.send(column) %>"/>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>