<style>
  table input {
    width: 100%;
    height: 36px;
  }
</style>

<%
  columns_infos ||= Radar::BusinessLogic::Unite::columns_info(klass: @klass).each_pair.to_a
  split_size ||= 2 
  lable_style ||= "width: #{((100 / split_size)*(3/10.to_f)).to_i}%;"
  content_style ||= "width: #{((100 / split_size)*(7/10.to_f)).to_i}%;"
%>

<div id="<%= @klass_name %>Search" class='searchForm'>
  <form method='get' id="<%= @klass_name %>SearchForm">
    <%= tag(:input, :type => "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <table class='table table-bordered table-striped table-hover'>
      <% columns_infos.in_groups_of(split_size, 'none').each do |array| %>
        <tr>
          <% array.each do |column_name, info|%>
            <% if column_name == 'none' %>
              <td style="<%= lable_style %>"></td>
              <td style="<%= content_style %>"></td> 
              <% next %>
            <% end %>
            <td class='text-right' style="<%= lable_style %>">
              <span class="float-right"><%= info.locale_key %></span>
            </td>
            <td style="<%= content_style %>">
              <% search_value = (@search||{}).select{|k,v| k.to_sym == column_name}.values[0] %>
              <% ransack_value = (@ransack||{}).select{|k,v| k.to_sym == column_name}.values[0] %>
              <div width='100%'>
                <select class="form-control w-25 float-left" name="ransack[<%= column_name%>]">
                  <% ransack_condictions.each do |key, value| %>
                    <% if ransack_value && (key == ransack_value.to_sym)%>
                      <% add = 'SELECTED' %>
                    <% elsif (info.type == 'integer') && (key == :eq) %>
                      <% add = 'SELECTED' %>
                    <% end %>
                    <option value="<%= key %>" <%= add ||= nil %>><%= value %></option>
                  <% end %>
                </select>
                <input class='w-75 float-left' name="search[<%= column_name %>]" value="<%= search_value %>"/>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>

      <tr>
        <td colspan="<%= split_size*2 %>" class='text-center'>
          <%# <div class="btn-group btn-group-toggle" data-toggle="buttons"> %>
            <% columns_infos.each do |name, info|%>
                <label class="btn btn-primary">
                  <% add = (@show_columns.include?(name.to_s) ? 'checked' : nil) %>
                  <input type="checkbox" name="show_columns[<%= @klass.table_name %>][]" value="<%= name %>" autocomplete="off" <%= add %>><span><%= info.locale_key %></span>
                </label>
            <% end %>
          <%# </div> %>
        </td>
      </tr>

      <% if @table_condictions.present? %>
        <tr>
          <td colspan="<%= split_size*2 %>" class='text-center'>
            <% @table_condictions.each do |table_condiction|%>
              <button class='btn btn-primary' type='button' onclick="manage.search.loadCondition('<%= table_condiction.id %>');"><%= table_condiction.name %></button>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="<%= split_size*2 %>" class='text-center'>
          <button class='btn btn-primary' type='button' onclick="manage.search.saveCondition();">保存条件</button>
          <button class='btn btn-primary' type='button' onclick="location.href='<%= object_manages_path(klass: @klass_name) %>'">新增记录</button>          
          <button class='btn btn-primary' type='button' onclick="manage.search.reset();">重置条件</button>
          <button class='btn btn-primary' type='button' onclick="manage.search.reload();">清空条件</button>
          <button class='btn btn-primary' type='button' onclick="manage.datas.download();">导出结果</button>
          <button class='btn btn-primary' type='button' onclick="manage.search.reload();manage.datas.reload();">全部结果</button>
          <button class='btn btn-primary' type='button' onclick="manage.datas.reload();">查询结果</button>
        </td>
      </tr>
    </table>
  </form>
</div>
