<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<style>
  /* #container {
    height: 400px;
  } */

  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 310px;
    margin: 1em auto;
  }

  #datatable {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }

  #datatable caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }

  #datatable th {
    font-weight: 600;
    padding: 0.5em;
  }

  #datatable td,
  #datatable th,
  #datatable caption {
    padding: 0.5em;
  }

  #datatable thead tr,
  #datatable tr:nth-child(even) {
    background: #f8f8f8;
  }

  #datatable tr:hover {
    background: #f1f7ff;
  }
</style>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    <%= describe.html_safe %>
  </p>


  <% objects = table_datas.first[1].keys %>
  <table id="datatable">
    <thead>
      <tr>
        <th></th>
        <% objects.each do |object| %>
          <th><%= object %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table_datas.each do |key, datas| %>
        <tr>
          <th><%= key %></th>
          <% objects.each do |object| %>
            <td><%= datas[object] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</figure>

<script type="text/javascript">
  Highcharts.chart('container', {
    data: {
      table: 'datatable'
    },
    chart: {
      type: 'column'
    },
    title: {
      text: '<%= title %>'
    },
    subtitle: {
      text: '<%= subtitle.html_safe %>'
    },
    yAxis: {
      allowDecimals: false,
      title: {
        text: '<%= y_unit_name %>'
      }
    },
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
          this.point.y + ' ' + this.point.name.toLowerCase();
      }
    }
  });
</script>