<% return unless init_load? %>

<script type="text/javascript">
  // TODO: 这里要考虑不同klass数据的问题
  space.data.maxPage = parseInt("<%= @max_page_number || 0 %>")
  space.data.currentPage = 1
  // 每页数据条数和application_controller保持一致 否则数据分页会有问题

  space.data.autoLoad = function () {
    // 去加载没有更多的提示 证明已经加载完毕
    // if (space.data.currentPage+1 > space.data.maxPage) return
    if (!space.page.listening) return
    if (space.data.currentPage > space.data.maxPage) return
    space.data.currentPage++
    params = {page_number: space.data.currentPage, init_load: false, auto_load: true}
    url = "<%= request.url %>"
    space.network.ajax({"url": url, "params" : params}, function (result) {
      if (result[0]) $("#<%= table_id ||= "#{@klass_name}DataListTable" %>").append(result[1])
      if (!result[0] && space.data.currentPage > 1) space.data.currentPage--
      space.page.listening = false
    })
  }
  
  space.scroll(function() {
    if (space.page.listening) return
    space.page.listeningBottom(space.data.autoLoad)
  })

</script>